@import '../variables//variables.scss';
.filter {
	background-color: $bgColor;
	padding: 18px;
	font-family: $bodyFont;
	h2 {
		margin-bottom: 1rem;
	}

	.filter-container {
		display: flex;
		justify-content: space-between;

		.filter-item {
			font-size: 18px;

			label {
				margin-right: 1rem;
			}

			select {
				padding: 0 8px;
				outline: $accentColor;
			}
		}
	}
}
