$primaryColor: hsl(0, 0%, 96%);
$secondaryColor: hsl(223, 10%, 41%);
$accentColor: hsl(145, 46%, 77%);
$bgColor: #ffffff;
$bgColorOld: #edf0f6;

$fontColor: hsl(0, 0%, 96%);
$fontDarkColor: hsl(0, 0%, 7%);
