.footer-container {
  height: 160px;
  width: 100%;
  background-color: hsl(0, 0%, 58%);
  color: hsl(0, 0%, 96%);
  font-family: "Raleway", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-container .footer-social {
  min-height: 130px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-container .footer-social .social-container {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.footer-container .footer-social i {
  cursor: pointer;
  font-size: 40px;
}
.footer-container .links-title {
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 600;
}
.footer-container .footer-navlinks {
  min-height: 130px;
  flex: 1;
  letter-spacing: 1px;
  padding-left: 20px;
}
.footer-container .footer-navlinks .footer-links {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.footer-container .footer-navlinks .footer-links .footer-link {
  width: 33%;
  margin-bottom: 8px;
}
.footer-container .footer-contact-info {
  min-height: 130px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-right: 20px;
}
.footer-container .footer-contact-info .footer-contact {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.footer-container .footer-contact-info .footer-contact .contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.footer-container .footer-contact-info .footer-contact .contact-item .contact-info {
  margin-left: 8px;
}
.footer-container .footer-contact-info .contact-title {
  width: 208px;
  text-align: center;
}

@media (max-width: 1045px) {
  .footer-container {
    height: 100%;
    width: 100%;
    flex-direction: column;
    padding: 20px 0;
  }
  .footer-container .footer-social {
    min-height: 60px;
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
  }
  .footer-container .footer-social .social-container {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .footer-container .footer-social i {
    cursor: pointer;
    font-size: 40px;
  }
  .footer-container .footer-navlinks {
    width: 100%;
    padding-left: 40px;
    margin-bottom: 20px;
  }
  .footer-container .footer-navlinks .links-title {
    text-align: left;
  }
  .footer-container .footer-navlinks .footer-links {
    font-weight: 400;
    width: min(90%, 1000px);
    text-align: left;
  }
  .footer-container .footer-contact-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0;
    padding-left: 40px;
    margin-bottom: 20px;
  }
  .footer-container .footer-contact-info .links-title {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: left;
    font-weight: 600;
  }
}/*# sourceMappingURL=Footer.css.map */