.login {
  width: 100%;
  height: 100vh;
}
.login .login-container {
  height: 100%;
  display: flex;
  position: relative;
}
.login .login-container .image-container {
  flex: 1;
  height: 100%;
  background: url("https://images.unsplash.com/photo-1646295987284-1a3e5b536af8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80");
  background-size: cover;
  background-position: center;
  position: relative;
}
.login .login-container .image-container .overlay {
  height: 100%;
  min-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: hsla(0, 0%, 30%, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login .login-container .image-container .overlay h2 {
  width: -moz-fit-content;
  width: fit-content;
  background-color: hsl(168, 99%, 24%);
  color: hsl(0, 0%, 96%);
  padding: 0.3rem 1rem;
  font-size: 28px;
  font-family: "Raleway", sans-serif;
  margin: 0;
  margin-bottom: 10px;
}
.login .login-container .image-container .overlay p {
  padding: 0 20px;
  width: 90%;
  color: hsl(0, 0%, 96%);
  font-size: 22px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}
.login .login-container .input-container {
  flex: 1;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login .login-container .input-container a {
  text-decoration: none;
  font-weight: 600;
  color: black;
}
.login .login-container .input-container a:hover {
  text-decoration: underline;
}
.login .login-container .input-container .input-fields {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
}
.login .login-container .input-container .input-fields .title {
  font-size: 28px;
  font-weight: 600;
  padding-bottom: 1.5rem;
}
.login .login-container .input-container .input-fields input {
  width: 325px;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  outline: hsl(168, 99%, 24%);
}
.login .login-container .input-container .input-fields .submit-btn {
  width: 360px;
  padding: 0.5rem 1rem;
  background-color: hsl(168, 99%, 24%);
  color: hsl(0, 0%, 96%);
  font-size: 20px;
  border: none;
  cursor: pointer;
}
.login .login-container .input-container .register {
  text-align: center;
  padding: 1rem;
  height: -moz-fit-content;
  height: fit-content;
}
.login .login-container .input-container .register .reg-link {
  font-size: 17px;
}

@media (max-width: 1045px) {
  .login .login-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .login .login-container .image-container {
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .login .login-container .image-container .overlay {
    height: 100%;
    width: 100%;
    background-color: hsla(0, 0%, 30%, 0.6);
  }
  .login .login-container .image-container .overlay h2 {
    font-size: 22px;
  }
  .login .login-container .image-container .overlay p {
    text-align: center;
    font-size: 20px;
    margin: 0;
  }
}/*# sourceMappingURL=Login.css.map */