body {
  padding: 0;
  margin: 0;
}

.navbar {
  position: sticky;
  width: 100%;
  height: 50px;
  background-color: hsl(0, 0%, 58%);
  color: hsl(0, 0%, 96%);
  font-family: "Open Sans", sans-serif;
  z-index: 100;
}
.navbar .navbar-container {
  padding: 0 20px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .navbar-container .navbar-left {
  flex: 1;
  display: flex;
  align-items: center;
  font-size: 16px;
}
.navbar .navbar-container .navbar-left a {
  color: hsl(0, 0%, 96%);
  text-decoration: none;
}
.navbar .navbar-container .navbar-left .title {
  font-weight: bold;
  font-size: 26px;
  font-family: "Philly Sans", sans-serif;
  letter-spacing: 6px;
  text-shadow: 4px 4px 0 black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}
.navbar .navbar-container .navbar-center {
  flex: 1;
}
.navbar .navbar-container .navbar-center .product-links .list-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style: none;
}
.navbar .navbar-container .navbar-center .product-links .list-links a {
  color: hsl(0, 0%, 96%);
  text-decoration: none;
}
.navbar .navbar-container .navbar-center .product-links .list-links .list-link-items {
  position: relative;
  font-weight: 600;
  padding: 0 8px;
}
.navbar .navbar-container .navbar-center .product-links .list-links .list-link-items:hover {
  cursor: pointer;
}
.navbar .navbar-container .navbar-center .product-links .list-links .list-link-items::before {
  content: "";
  width: 0%;
  display: block;
  height: 3px;
  background-color: white;
  position: absolute;
  bottom: -4px;
  left: 0;
  transition: ease-in-out 0.25s;
}
.navbar .navbar-container .navbar-center .product-links .list-links .list-link-items:hover::before {
  width: 100%;
}
.navbar .navbar-container .navbar-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.navbar .navbar-container .navbar-right .navbar-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 16px;
}
.navbar .navbar-container .navbar-right .navbar-links a {
  color: hsl(0, 0%, 96%);
  text-decoration: none;
}
.navbar .navbar-container .navbar-right .navbar-links .navbar-button {
  font-size: 30px;
}
.navbar .navbar-container .navbar-right .navbar-links .i-links {
  text-decoration: none;
}
.navbar .navbar-container .navbar-right .navbar-links .badge {
  color: hsl(0, 0%, 96%);
}
.navbar .navbar-container .navbar-right .navbar-links .badge .cart {
  color: hsl(0, 0%, 96%);
  font-size: 26px;
}
.navbar .navbar-container .navbar-right .mobile-links {
  display: none;
}
.navbar .navbar-container .navbar-right .mobile-cart {
  display: none;
}
.navbar .navbar-container .navbar-right .toggle-btn {
  display: none;
}

@media (max-width: 1045px) {
  .navbar .navbar-container {
    padding: 0 20px;
  }
  .navbar .navbar-container .navbar-left {
    position: absolute;
  }
  .navbar .navbar-container .navbar-left .title {
    position: relative;
    display: block;
    z-index: 1000;
  }
  .navbar .navbar-container .navbar-center {
    display: none;
  }
  .navbar .navbar-container .navbar-right .navbar-links {
    display: none;
  }
  .navbar .navbar-container .navbar-right a {
    color: hsl(0, 0%, 96%);
    text-decoration: none;
  }
  .navbar .navbar-container .navbar-right .mobile-links {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
    position: fixed;
    left: 0;
    bottom: -90;
    width: 100%;
    height: 0px;
    background-color: hsl(0, 0%, 58%);
    z-index: 999;
    transition: all ease-in-out 0.4s;
  }
  .navbar .navbar-container .navbar-right .mobile-links a {
    color: hsl(0, 0%, 96%);
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .navbar .navbar-container .navbar-right .mobile-links a:hover {
    background-color: hsla(0, 0%, 100%, 0.3);
  }
  .navbar .navbar-container .navbar-right .mobile-links .mobile-link-items {
    margin: 40px 40px 0;
    padding: 8px 40px;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.3);
  }
  .navbar .navbar-container .navbar-right .mobile-links .mobile-link-items:first-child {
    border-bottom: none;
  }
  .navbar .navbar-container .navbar-right .mobile-links .mobile-link-items:last-child {
    border-bottom: none;
  }
  .navbar .navbar-container .navbar-right .mobile-links .mobile-link-items input {
    padding: 8px;
    width: 100%;
  }
  .navbar .navbar-container .navbar-right .login {
    color: red;
    font-size: small;
  }
  .navbar .navbar-container .navbar-right .active {
    height: 100vh;
  }
  .navbar .navbar-container .navbar-right .mobile-cart {
    display: flex;
    margin-right: 20px;
  }
  .navbar .navbar-container .navbar-right .mobile-cart .badge .cart {
    color: hsl(0, 0%, 96%);
    font-size: 26px;
  }
  .navbar .navbar-container .navbar-right .toggle-btn {
    display: block;
    cursor: pointer;
    z-index: 999;
    min-width: 28px;
  }
}/*# sourceMappingURL=Navbar.css.map */