.shopping-container {
  padding: 20px;
  min-height: calc(100vh - 260px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.shopping-container h1 {
  font-weight: 600;
  font-size: 34px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  margin-bottom: 4rem;
}
.shopping-container .top-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  margin-bottom: 30px;
}
.shopping-container .top-container .shopping-btn {
  padding: 8px 20px 8px 16px;
  font-family: "Open Sans", sans-serif;
}
.shopping-container .bottom-container {
  display: flex;
  height: min(400px, 100%);
  justify-content: space-between;
}
.shopping-container .bottom-container .no-cart {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  color: hsla(168, 99%, 24%, 0.9);
}
.shopping-container .bottom-container .no-cart h2 {
  margin-bottom: 0;
}
.shopping-container .bottom-container .no-cart h3 {
  margin-top: 1rem;
}
.shopping-container .bottom-container .no-cart h3 .continue-shop {
  text-decoration: underline;
  cursor: pointer;
}
.shopping-container .bottom-container .no-cart i {
  color: hsla(168, 99%, 24%, 0.9);
}
.shopping-container .bottom-container .cart-info {
  flex: 2;
}
.shopping-container .bottom-container .cart-info .product-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-right: 20px;
  border-radius: 16px;
  border: 1px solid hsla(0, 0%, 50%, 0.4);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.shopping-container .bottom-container .cart-info .product-container .product-detail {
  flex: 2;
  display: flex;
  align-items: center;
  min-width: 220px;
}
.shopping-container .bottom-container .cart-info .product-container .product-detail .image-wrapper {
  min-width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}
.shopping-container .bottom-container .cart-info .product-container .product-detail .image-wrapper .decks-image {
  width: 100px;
  height: 200px;
  padding: 10px;
}
.shopping-container .bottom-container .cart-info .product-container .product-detail .image-wrapper .trucks-image {
  width: 175px;
  height: 175px;
  padding: 10px;
}
.shopping-container .bottom-container .cart-info .product-container .product-detail .image-wrapper .wheels-image {
  width: 175px;
  height: 175px;
  padding: 10px;
}
.shopping-container .bottom-container .cart-info .product-container .product-detail .image-wrapper .bearings-image {
  width: 175px;
  height: 175px;
  padding: 10px;
}
.shopping-container .bottom-container .cart-info .product-container .product-detail .image-wrapper .grip-image {
  width: 175px;
  height: 175px;
  padding: 10px;
}
.shopping-container .bottom-container .cart-info .product-container .product-detail .image-wrapper .bolts-image {
  width: 175px;
  height: 175px;
  padding: 10px;
}
.shopping-container .bottom-container .cart-info .product-container .product-detail .image-wrapper .bushings-image {
  width: 175px;
  height: 175px;
  padding: 10px;
}
.shopping-container .bottom-container .cart-info .product-container .product-detail .product-image {
  width: 200px;
  height: 200px;
  padding: 10px;
}
.shopping-container .bottom-container .cart-info .product-container .product-detail .details-container {
  padding: 22px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  font-family: "Open Sans", sans-serif;
}
.shopping-container .bottom-container .cart-info .product-container .product-detail .details-container .product-info .product-keys {
  font-weight: 600;
  margin-right: 8px;
}
.shopping-container .bottom-container .cart-info .product-container .product-detail .details-container .product-info .non-product-key {
  font-weight: 500;
}
.shopping-container .bottom-container .cart-info .product-container .product-detail .details-container .quantity-container {
  display: flex;
  align-items: center;
  gap: 24px;
}
.shopping-container .bottom-container .cart-info .product-container .product-detail .details-container .quantity-container .price-amount {
  padding-top: 20px;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 22px;
}
.shopping-container .bottom-container .cart-info .product-container .product-detail .details-container .quantity-container .price-amount .icons {
  height: 26px;
  width: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  color: hsl(0, 0%, 58%);
  background-color: rgb(176, 175, 175);
  background-color: hsl(168, 99%, 24%);
  color: hsl(0, 0%, 96%);
}
.shopping-container .bottom-container .cart-info .product-container .product-detail .details-container .quantity-container .price-amount .icons:hover {
  color: black;
  background-color: rgb(156, 156, 156);
  cursor: pointer;
}
.shopping-container .bottom-container .cart-info .product-container .product-detail .details-container .quantity-container .price-amount .product-quantity {
  border: 1px solid rgb(153, 153, 153);
  padding: 4px 12px;
  font-size: 16px;
  border-radius: 3px;
}
.shopping-container .bottom-container .cart-info .product-container .product-detail .details-container .quantity-container .remove i {
  color: hsla(0, 82%, 38%, 0.9);
  cursor: pointer;
}
.shopping-container .bottom-container .cart-info .product-container .price-detail {
  flex: 1;
  height: 90%;
  width: 40%;
  display: flex;
  align-items: end;
  flex-direction: column;
}
.shopping-container .bottom-container .cart-info .product-container .price-detail .product-price {
  padding: 20px;
  width: -moz-fit-content;
  width: fit-content;
  padding-left: 10px;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}
.shopping-container .bottom-container .summary-container {
  flex: 1;
  border-radius: 20px;
  padding: 0 24px 24px;
  font-family: "Open Sans", sans-serif;
  width: 100%;
  margin: 0 auto;
}
.shopping-container .bottom-container .summary-container .summary-title {
  font-weight: 600;
  text-align: center;
}
.shopping-container .bottom-container .summary-container .summary-section {
  margin: 25px 0;
  display: flex;
  justify-content: space-between;
}
.shopping-container .bottom-container .summary-container .summary-section .item-key {
  font-weight: 600;
}
.shopping-container .bottom-container .summary-container .summary-section .item-total {
  font-weight: 700;
}
.shopping-container .bottom-container .summary-container .cont-shop-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.shopping-container .bottom-container .summary-container .cont-shop-container a {
  width: 100%;
  text-align: center;
  cursor: pointer;
}
.shopping-container .bottom-container .summary-container .btn-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8px;
}
.shopping-container .bottom-container .summary-container .btn-container .shopping-btn {
  padding: 8px;
  width: 160px;
  font-family: "Open Sans", sans-serif;
  background-color: hsl(168, 99%, 24%);
  border: 0;
  color: hsl(0, 0%, 96%);
  cursor: pointer;
}
.shopping-container .bottom-container .summary-container .btn-container .active {
  background-color: hsl(0, 0%, 58%);
}

@media (max-width: 1045px) {
  .shopping-container .bottom-container {
    flex-direction: column;
  }
  .shopping-container .bottom-container .no-cart {
    margin: 25px 0 60px;
  }
  .shopping-container .bottom-container .no-cart h2 {
    font-size: 28px;
  }
  .shopping-container .bottom-container .no-cart h3 {
    font-size: 18px;
  }
  .shopping-container .bottom-container .cart-info .product-container {
    margin-right: 0px;
    box-shadow: none;
    border: none;
  }
  .shopping-container .bottom-container .cart-info .product-container .price-detail {
    width: 100%;
  }
  .shopping-container .bottom-container .summary-container {
    width: 90%;
  }
  .shopping-container .bottom-container .summary-container .check-now-btn {
    width: 100%;
  }
}
@media (max-width: 700px) {
  .shopping-container .bottom-container .cart-info .product-container {
    flex-direction: column;
  }
  .shopping-container .bottom-container .cart-info .product-container .product-detail {
    flex: 1;
  }
  .shopping-container .bottom-container .cart-info .product-container .product-detail .image-wrapper {
    min-width: -moz-fit-content;
    min-width: fit-content;
    min-height: 170px;
    align-items: start;
  }
  .shopping-container .bottom-container .cart-info .product-container .product-detail .image-wrapper .decks-image {
    width: 80px;
    height: 160px;
    padding: 10px;
  }
  .shopping-container .bottom-container .cart-info .product-container .product-detail .image-wrapper .trucks-image {
    width: 80px;
    height: 80px;
    padding: 10px;
  }
  .shopping-container .bottom-container .cart-info .product-container .product-detail .image-wrapper .wheels-image {
    width: 80px;
    height: 80px;
    padding: 10px;
  }
  .shopping-container .bottom-container .cart-info .product-container .product-detail .image-wrapper .bearings-image {
    width: 80px;
    height: 80px;
    padding: 0 10px;
  }
  .shopping-container .bottom-container .cart-info .product-container .product-detail .image-wrapper .grip-image {
    width: 100px;
    height: 140px;
    padding: 10px;
  }
  .shopping-container .bottom-container .cart-info .product-container .product-detail .image-wrapper .bolts-image {
    width: 95px;
    height: 95px;
    padding: 10px;
  }
  .shopping-container .bottom-container .cart-info .product-container .product-detail .image-wrapper .bushings-image {
    width: 95px;
    height: 95px;
    padding: 10px;
  }
  .shopping-container .bottom-container .cart-info .product-container .product-detail .details-container {
    min-width: none;
    width: 90%;
    padding-right: 0px;
  }
  .shopping-container .bottom-container .cart-info .product-container .product-detail .details-container .product-info {
    width: 90%;
  }
  .shopping-container .bottom-container .cart-info .product-container .price-detail {
    flex: 2;
    align-items: start;
    border-top: 1px solid hsla(0, 0%, 83%, 0.4);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  .shopping-container .bottom-container .summary-container {
    padding: 0 0 8px 0;
  }
  .shopping-container .bottom-container .summary-container .check-now-btn {
    width: 80%;
  }
  .shopping-container .bottom-container .summary-container .btn-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .shopping-container .bottom-container .summary-container .btn-container .shopping-btn {
    padding: 12px 0px;
    width: 100%;
  }
}/*# sourceMappingURL=ShoppingCart.css.map */