@use '../abstracts/' as *;

.filter {
	background-color: $bgColor;
	padding: 18px;
	font-family: $bodyFont;

	h2 {
		margin-bottom: 1rem;
	}

	.filter-container {
		display: flex;
		justify-content: space-between;

		.filter-item {
			font-size: 18px;

			label {
				margin-right: 1rem;
			}

			select {
				width: 170px;
				padding: 0 8px;
				outline: $accentColor;
			}
		}
	}
}

@media (max-width: $breakpoint-hardware-lg) {
	.filter {
		.filter-container {
			.filter-item {
				display: flex;
				flex-direction: column;
				justify-content: center;
			}
		}
	}
}

// @media (max-width: $breakpoint-md) {
// 	.filter {
// 		.filter-container {
// 			justify-content: space-around;
// 			.filter-item {
// 				display: flex;
// 				justify-content: center;
// 				align-items: center;
// 			}
// 		}
// 	}
// }

@media (max-width: $breakpoint-hardware-sm) {
	.filter {
		.filter-container {
			align-items: center;
			margin: 0 auto;
			gap: 0.5rem;
			flex-direction: column;
			.filter-item {
				width: 100%;
				justify-content: flex-start;

				select {
					width: 100%;
				}
			}
		}
	}
}
