@use '../abstracts/' as *;

.message-container {
	height: 30px;
	background-color: $accentColor;
	color: $fontColor;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: $bodyFont;
	font-size: 14px;
	font-weight: bold;
	z-index: 1100;
}

@media (max-width: $breakpoint-lg) {
}
