@use '../abstracts/' as *;

body {
	padding: 0;
	margin: 0;
}

.navbar {
	position: sticky;
	width: 100%;
	height: 50px;
	background-color: $secondaryColor;
	color: $fontColor;
	font-family: $bodyFont;
	z-index: 100;

	.navbar-container {
		padding: 0 20px;
		height: 50px;
		display: flex;
		align-items: center;
		justify-content: space-between;

		.navbar-left {
			flex: 1;
			display: flex;
			align-items: center;
			font-size: 16px;

			.title {
				font-weight: bold;
				font-size: 26px;
				font-family: $logoFont;
				letter-spacing: 6px;
				// -webkit-text-stroke: 1px hsla(0, 0%, 27%, 0.7);
				text-shadow: 4px 4px 0 black, -1px -1px 0 black, 1px -1px 0 black,
					-1px 1px 0 black, 1px 1px 0 black;
			}
		}
		.navbar-center {
			flex: 1;

			.product-links {
				.list-links {
					display: flex;
					align-items: center;
					justify-content: space-around;
					margin: 0;
					padding: 0;
					list-style: none;

					.list-link-items {
						position: relative;
						font-weight: 600;
						padding: 0 8px;

						&:hover {
							cursor: pointer;
						}

						&::before {
							content: '';
							width: 0%;
							display: block;
							height: 3px;
							background-color: white;
							position: absolute;
							bottom: -4px;
							left: 0;
							transition: ease-in-out 0.25s;
						}
						&:hover::before {
							width: 100%;
						}
					}
				}
			}
		}
		.navbar-right {
			flex: 1;
			display: flex;
			align-items: center;
			justify-content: flex-end;

			.navbar-links {
				list-style: none;
				display: flex;
				align-items: center;
				gap: 16px;

				.navbar-button {
					font-size: 30px;
				}

				.i-links {
					text-decoration: none;
				}

				.badge {
					color: $fontColor;
					.cart {
						color: $fontColor;
						font-size: 26px;
					}
				}
			}

			.mobile-links {
				display: none;
			}

			.mobile-cart {
				display: none;
			}

			.toggle-btn {
				display: none;
			}
		}
	}
}

// @media (max-width: 1120px) {
// 	.title {
// 		font-size: 18px;
// 		text-align: center;
// 	}
// }

@media (max-width: $breakpoint-lg) {
	.navbar {
		.navbar-container {
			padding: 0 20px;
			.navbar-left {
				position: absolute;
				.title {
					position: relative;
					display: block;
					z-index: 1000;
				}
			}
			.navbar-center {
				display: none;
			}
			.navbar-right {
				.navbar-links {
					display: none;
				}

				.mobile-links {
					margin: 0;
					padding: 0;
					display: flex;
					flex-direction: column;
					list-style: none;
					position: fixed;
					left: 0;
					bottom: -70px;
					width: 100%;
					height: 0px;
					background-color: $secondaryColor;
					z-index: 999;
					transition: all ease-in-out 0.4s;

					.mobile-link-items {
						margin: 40px 40px 0;
						padding: 8px 40px;
						font-family: $bodyFont;
						font-size: 20px;
						border-bottom: 1px solid hsla(0, 0%, 100%, 0.3);

						&:first-child {
							border-bottom: none;
						}

						&:last-child {
							border-bottom: none;
						}
						input {
							padding: 8px;
							width: 100%;
						}
					}
				}

				.login {
					color: red;
					font-size: small;
				}

				.active {
					height: 100vh;
				}

				.mobile-cart {
					display: flex;
					margin-right: 20px;
					.badge {
						.cart {
							color: $fontColor;
							font-size: 26px;
						}
					}
				}

				.toggle-btn {
					display: block;
					cursor: pointer;
					z-index: 999;
				}
			}
		}
	}
}
