@use '../abstracts/index' as *;
.checkout-btn {
	width: 100%;
	padding: 12px;
	background-color: $accentColor;
	color: $fontColor;
	border: none;
	cursor: pointer;
}

.logged-out {
	background-color: $secondaryColor;
}
