@use '../abstracts/' as *;

.loading {
	height: 100vh;
	color: red;
}

.trending {
	background-color: $bgColor;
	padding-left: 16px;
	font-size: 20px;
	display: flex;
	align-items: center;
	justify-content: center;

	h2 {
		margin: 0;
		color: $fontDarkColor;
		font-family: $bodyFont;
		font-weight: bold;
	}
}

.wrapper {
	min-height: 100vh;

	.products-container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 288px));
		// padding: 16px;
		gap: 10px;
		background-color: $bgColor;
		justify-content: center;
	}
}
