@use '../abstracts/index' as *;

.shopping-container {
	padding: 20px;
	min-height: calc(100vh - 260px);
	display: flex;
	flex-direction: column;
	justify-content: center;

	h1 {
		font-weight: 600;
		font-size: 34px;
		font-family: $bodyFont;
		text-align: center;
		margin-bottom: 4rem;
	}

	.top-container {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: end;
		margin-bottom: 30px;

		.shopping-btn {
			padding: 8px 20px 8px 16px;
			font-family: $bodyFont;
		}
	}

	.bottom-container {
		display: flex;
		// align-items: center;
		height: min(400px, 100%);

		justify-content: space-between;

		.no-cart {
			flex: 2;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			font-family: $bodyFont;
			font-size: 24px;
			color: hsla(168, 99%, 24%, 0.9);

			h2 {
				margin-bottom: 0;
			}
			h3 {
				margin-top: 1rem;

				.continue-shop {
					text-decoration: underline;
					cursor: pointer;
				}
			}

			i {
				color: hsla(168, 99%, 24%, 0.9);
			}
		}

		.cart-info {
			flex: 2;

			.product-container {
				display: flex;
				justify-content: space-between;
				margin-bottom: 20px;
				margin-right: 20px;
				border-radius: 16px;
				border: 1px solid hsla(0, 0%, 50%, 0.4);
				box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
					rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

				.product-detail {
					flex: 2;
					display: flex;
					align-items: center;
					min-width: 220px;
					.image-wrapper {
						min-width: 200px;
						display: flex;
						align-items: center;
						justify-content: center;
						padding: 0.5rem;

						.decks-image {
							width: 100px;
							height: 200px;
							padding: 10px;
						}
						.trucks-image {
							width: 175px;
							height: 175px;
							padding: 10px;
						}
						.wheels-image {
							width: 175px;
							height: 175px;
							padding: 10px;
						}
						.bearings-image {
							width: 175px;
							height: 175px;
							padding: 10px;
						}
						.grip-image {
							width: 175px;
							height: 175px;
							padding: 10px;
						}
						.bolts-image {
							width: 175px;
							height: 175px;
							padding: 10px;
						}
						.bushings-image {
							width: 175px;
							height: 175px;
							padding: 10px;
						}
					}

					.product-image {
						width: 200px;
						height: 200px;
						padding: 10px;
					}

					.details-container {
						padding: 22px;
						display: flex;
						flex-direction: column;
						gap: 8px;
						width: 100%;

						font-family: $bodyFont;

						.product-info {
							.product-keys {
								font-weight: 600;
								margin-right: 8px;
							}

							.non-product-key {
								font-weight: 500;
							}
						}

						.quantity-container {
							display: flex;
							align-items: center;
							gap: 24px;

							.price-amount {
								padding-top: 20px;
								width: fit-content;
								display: flex;
								gap: 10px;
								align-items: center;
								margin-bottom: 22px;
								// font-size: px;

								.icons {
									height: 26px;
									width: 26px;
									display: flex;
									align-items: center;
									justify-content: center;
									border-radius: 50%;
									padding: 0;
									margin: 0;
									color: $secondaryColor;
									background-color: rgb(176, 175, 175);
									background-color: $accentColor;
									color: $fontColor;

									&:hover {
										color: black;
										background-color: rgb(156, 156, 156);
										cursor: pointer;
									}
								}
								.product-quantity {
									border: 1px solid rgb(153, 153, 153);
									padding: 4px 12px;
									font-size: 16px;
									border-radius: 3px;
								}
							}
							.remove {
								i {
									color: hsla(0, 82%, 38%, 0.9);
									cursor: pointer;
								}
							}
						}
					}
				}

				.price-detail {
					flex: 1;
					height: 90%;
					width: 40%;
					display: flex;
					align-items: end;
					flex-direction: column;
					// justify-content: flex-end;

					.product-price {
						padding: 20px;
						width: fit-content;
						padding-left: 10px;
						font-size: 16px;
						font-family: $bodyFont;
						font-weight: 700;
					}
				}
			}
		}
		.summary-container {
			flex: 1;
			border-radius: 20px;
			padding: 0 24px 24px;
			font-family: $bodyFont;
			width: 100%;
			margin: 0 auto;

			.summary-title {
				font-weight: 600;
				text-align: center;
			}

			.summary-section {
				margin: 25px 0;
				display: flex;
				justify-content: space-between;

				.item-key {
					font-weight: 600;
				}

				.item-total {
					font-weight: 700;
				}
			}

			.cont-shop-container {
				display: flex;
				width: 100%;
				align-items: center;
				justify-content: center;

				a {
					width: 100%;
					text-align: center;
					cursor: pointer;
				}

				.shopping-btn {
					width: 40%;
					padding: 12px;
					margin-top: 16px;
					background-color: $secondaryColor;
					color: $fontColor;
					border: none;
					cursor: pointer;
				}
			}

			.btn-container {
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: space-between;
				margin-top: 8px;

				.shopping-btn {
					padding: 8px 20px 8px 16px;
					width: 200px;
					font-family: $bodyFont;
					background-color: $accentColor;
					border: 0;
					color: $fontColor;
					cursor: pointer;
				}

				.active {
					background-color: $secondaryColor;
				}
			}
		}
	}
}

@media (max-width: $breakpoint-lg) {
	.shopping-container {
		.bottom-container {
			flex-direction: column;

			.no-cart {
				margin: 25px 0 60px;
				h2 {
					font-size: 28px;
				}
				h3 {
					font-size: 18px;
				}
			}

			.cart-info {
				.product-container {
					margin-right: 0px;
					box-shadow: none;
					border: none;

					.price-detail {
						width: 100%;
					}
				}
			}
			.summary-container {
				width: 90%;

				.check-now-btn {
					width: 100%;
				}
			}
		}
	}
}

@media (max-width: $breakpoint-md) {
	.shopping-container {
		.bottom-container {
			// flex-direction: column;
			.cart-info {
				.product-container {
					flex-direction: column;
					.product-detail {
						flex: 1;
						.image-wrapper {
							min-width: fit-content;
							min-height: 170px;
							align-items: start;

							.decks-image {
								width: 80px;
								height: 160px;
								padding: 10px;
							}
							.trucks-image {
								width: 80px;
								height: 80px;
								padding: 10px;
							}
							.wheels-image {
								width: 80px;
								height: 80px;
								padding: 10px;
							}
							.bearings-image {
								width: 80px;
								height: 80px;
								padding: 0 10px;
							}
							.grip-image {
								width: 100px;
								height: 140px;
								padding: 10px;
							}
							.bolts-image {
								width: 95px;
								height: 95px;
								padding: 10px;
							}
							.bushings-image {
								width: 95px;
								height: 95px;
								padding: 10px;
							}
						}
						.details-container {
							min-width: none;

							width: 90%;
							padding-right: 0px;

							.product-info {
								width: 90%;
							}
						}
					}

					.price-detail {
						flex: 2;
						align-items: start;
						border-top: 1px solid hsla(0, 0%, 83%, 0.4);
						box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
							rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
						border-bottom-left-radius: 8px;
						border-bottom-right-radius: 8px;
					}
				}
			}
			.summary-container {
				.check-now-btn {
					width: 80%;
				}
			}
		}
	}
}
