@use '../abstracts/' as *;

.trending {
	background-color: $bgColor;
	padding-left: 16px;
	font-size: 20px;
	display: flex;
	align-items: center;
	justify-content: center;

	h2 {
		margin: 0;
		color: $fontDarkColor;
		font-family: $bodyFont;
		font-weight: bold;
	}
}

.products-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
	padding: 16px;
	gap: 10px;
	background-color: $bgColor;
	justify-content: center;
}

@media (max-width: $breakpoint-sm) {
	.trending {
		margin: 8px 0 16px;
	}

	.products-container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
		padding: 16px;
		gap: 10px;
		background-color: $bgColor;
		justify-content: center;
	}
}
